.drug_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.drug_bottom {
  padding: 5px;
  border: 1px solid var(--secondary-bg);
}

.drug_buttons {
  display: flex;
  justify-content: space-between;
}

.fav_btn {
  border: none;
  background-color: transparent;
}

.heart_icon {
  color: var(--secondary-bg);
  width: 30px;
  height: 20px;
}

.heart_icon_fav {
  color: var(--accent-cl);
  width: 30px;
  height: 20px;
}

.add_btn {
  background-color: var(--active-bg);
  color: var(--secondary-txt-cl);
  border: none;
}
